<!DOCTYPE html>
<html>
	<head>
		<title>Pokes Login/Registration</title>
	</head>
	<body>
	{% if messages %}
			{% for message in messages %}
				{% if message.tags == 'error' %}
				 	<p style="color: red">{{message}}</p>
				{% endif %}
				{% if message.tags == 'success' %}
				 	<p style="color: green">{{message}}</p>
				{% endif %}
				{% if message.tags == 'logout' %}
				 	<p style="color: green">{{message}}</p>
				{% endif %}
				
			{% endfor %}
		{% endif %}

		<h2>Welcome!</h2>

		<h4>Log in</h4>
		<form action="/login" method="post">
			{% csrf_token %}
			<p>Email:  <input type="text" name="email"></p>
			<p>Password:  <input type="password" name="pw"></p>
			<input type="hidden" name="id" value="user_id">
			<p><input type="submit" name="submit" value="Log In"></p>
		</form>

		<h4>Register</h4>
		<form action="/register" method="post">
			{% csrf_token %}
			<p>Name:  <input type="text" name="name"></p>
			<p>Alias:  <input type="text" name="alias"></p>
			<p>Email: <input type="text" name="email"></p>
			<p>Password:  <input type="password" name="pw"></p>
			<p>Confirm password:  <input type="password" name="confirmpw"></p>
			<p>Date of Birth: <input type="date" name="birthdate"></p>
			<p><input type="submit" name="submit" value="Register"></p>
		</form>
	</body>
</html>